<mat-card style="width: 400px; margin-top: 20px">
  <h2>BCDS Member Check for a Tournament</h2>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form>
      <div fxLayout="column" fxLayoutAlign="start center" style="margin-top: 20px">
        <mat-form-field style="margin-top: 20px">
          <mat-label>PDGA Tournament Id</mat-label>
          <input matInput type="number" [formControl]="tournamentIdFC">
        </mat-form-field>
        <mat-progress-bar *ngIf="isLoadingTournament" mode="indeterminate" style="width: 200px"></mat-progress-bar>
        <div *ngIf="currentTournament">
          <a href="https://pdga.com/tour/event/{{currentTournament.tournament_id}}"
          target="_blank">
            {{currentTournament.tournament_name}} {{currentTournament.start_date}}
          </a>
        </div>
        <div *ngIf="!currentTournament && !isLoadingTournament && tournamentIdFC.value ">
          Tournament {{tournamentIdFC.value}} not found.
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            (click)="check()"
            [disabled]="!isBcTournament"
            color="primary">
      Check Tournament
    </button>
    <mat-progress-bar *ngIf="isLoadingMembershipReport" mode="indeterminate"></mat-progress-bar>
  </mat-card-actions>

</mat-card>
<div *ngIf="membershipReport && membershipReport.players && membershipReport.players.length > 0">
  <mat-tab-group>
    <mat-tab label="Non Members">
      <div *ngFor="let m of membershipReport.players.filter(nonMemberFilter)">
        <ul *ngIf="m.pdgaNumber">
          {{m.name}}
          <a href="https://pdga.com/player/{{m.pdgaNumber}}"
             target="_blank">
            {{m.pdgaNumber}}
          </a> ({{m.state}})
        </ul>
        <ul *ngIf="!m.pdgaNumber">
          {{m.name}} {{m.state}}
        </ul>
      </div>
    </mat-tab>
    <mat-tab label="Members">
      <div *ngFor="let m of membershipReport.players.filter(activeMemberFilter)">
        <ul *ngIf="m.pdgaNumber">
          {{m.name}}
          <a href="https://pdga.com/player/{{m.pdgaNumber}}" target="_blank">{{m.pdgaNumber}}</a>
        </ul>
        <ul *ngIf="!m.pdgaNumber">{{m.name}}</ul>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
