<mat-card style="width: 400px; margin-top: 20px">
  <h2>Membership Check For Individuals</h2>
  <mat-tab-group>
    <mat-tab label="Check by PDGA Number">
      <div fxLayout="column" fxLayoutAlign="start center" style="margin-top: 20px">
        <mat-form-field appearance="fill">
          <mat-label>PDGA Number</mat-label>
          <input matInput type="number" placeholder="PDGA Number" [formControl]="pdgaNumberFC">
        </mat-form-field>
        <mat-progress-bar *ngIf="isLoadingPdgaPlayer" mode="indeterminate"></mat-progress-bar>
        <h4 *ngIf="bcdsPlayer">BCDS:
          {{bcdsPlayer.name}} ({{bcdsPlayer.state}})
        </h4>
        <h3 *ngIf="!bcdsPlayer">BCDS:
          Not known.
        </h3>
        <h5 *ngIf="pdgaPlayer">PDGA:
          <a href="https://pdga.com/player/{{pdgaPlayer.pdga_number}}"
             target="_blank">
            {{pdgaPlayer.first_name}} {{pdgaPlayer.last_name}}
          </a> ({{pdgaPlayer.membership_status}})
        </h5>
        <h5 *ngIf="!pdgaPlayer">PDGA:
          Not known.
        </h5>
      </div>
    </mat-tab>
    <mat-tab label="Check By Name">
      <div fxLayout="column" fxLayoutAlign="start center" style="margin-top: 20px">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <mat-hint>Minimum 4 letters.</mat-hint>
          <input matInput placeholder="Name" [formControl]="nameFC">
        </mat-form-field>
        <mat-progress-bar *ngIf="isLoadingMembers" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="membersByName">
          <div *ngFor="let m of membersByName">
            <ul *ngIf="m.pdgaNumber">
              <a href="https://pdga.com/player/{{m.pdgaNumber}}"
                 target="_blank">
                {{m.name}}
              </a> ({{m.state}})

            </ul>
            <ul *ngIf="!m.pdgaNumber">
              {{m.name}} ({{m.state}})
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
