<mat-card style="width: 400px; margin-top: 20px">
  <h2>Membership Check For Individuals</h2>
  <mat-tab-group>
    <mat-tab label="Check by PDGA Number">
      <div fxLayout="column" fxLayoutAlign="start center" style="margin-top: 20px">
        <mat-form-field appearance="fill">
          <mat-label>PDGA Number</mat-label>
          <input matInput type="number" placeholder="PDGA Number" [formControl]="pdgaNumberFC">
        </mat-form-field>
        <mat-progress-bar *ngIf="isLoadingPdgaPlayer" mode="indeterminate"></mat-progress-bar>
        <mat-form-field *ngIf="bcdsMembershipView" style="width: 300px">
          <mat-label>BCDS Player & Status</mat-label>
          <textarea matInput name="name"
                    ngModel="{{bcdsMembershipView}} " disabled>
              </textarea>
        </mat-form-field>
        <mat-form-field *ngIf="pdgaMembershipView" style="width: 300px">
          <mat-label>PDGA Player & Status</mat-label>
          <textarea matInput name="name"
                    ngModel="{{pdgaMembershipView}} " disabled>
              </textarea>
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab label="Check By Name">
      <div fxLayout="column" fxLayoutAlign="start center" style="margin-top: 20px">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <mat-hint>Minimum 4 letters.</mat-hint>
          <input matInput placeholder="Name" [formControl]="nameFC">
        </mat-form-field>
        <mat-progress-bar *ngIf="isLoadingMembers" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="membersByName">
          <ul *ngFor="let m of membersByName">
            {{m.name}}{{(m.pdgaNumber) ? ' (' + m.pdgaNumber + ')' : ''}}, {{m.state}}
          </ul>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
