<mat-card style="width: 400px; margin-top: 20px">
  <h2>BCDS Member Check for a Tournament</h2>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div>
      <ul>
        <li>instructions on what to do</li>
        <li>more instructions</li>
      </ul>
    </div>
    <button [disabled]="!canSelectFile" mat-button color="primary" (click)="openFileChooser()">
      <label>Select upload file...</label>
    </button>
    <input id="fileToImport" type="file" hidden (change)="fileSelected($event)">


    <div *ngIf="selectedFile">
      <button mat-button color="primary" (click)="importWorkbook()">
        Upload {{selectedFile.name}}
      </button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="total > 0 || notes.length > 0 || problems.length > 0">
  <mat-card-title>Progress...</mat-card-title>
  <div *ngIf="(total - done) > 0" fxLayout="row" fxLayoutAlign="space-between center">
    <div>Done: {{done}}</div>
    <div>Loading {{currentlyImporting}}</div>
    <div>Total: {{total}}</div>
  </div>
  <mat-progress-bar *ngIf="total - done > 0" [value]="progress" mode="determinate"></mat-progress-bar>
  <div *ngIf="problems.length > 0">
    <H2>Problems:</H2>
    <ul>
      <li *ngFor="let problem of problems">{{problem}}</li>
    </ul>
  </div>

  <div *ngIf="notes.length > 0">
    <H2>Notes:</H2>
    <ul>
      <li *ngFor="let note of notes">{{note}}</li>
    </ul>
  </div>
</mat-card>
