<mat-card style="width: 600px; margin-top: 20px">
  <h2>BCDS Member Check</h2>
  <h3>Using a registration list from Disc Golf Scene</h3>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div>
      <ul>
        <li>Log in to Disc Golf Scene as an admin for your tournament</li>
        <li>Choose Print/Download List</li>
        <li>In the bar across the top, select "Full Details"</li>
        <li>Click the "Download .csv" button</li>
        <li>Use the file selector button to choose the file</li>
        <li>Click on the file name to process it.</li>
        <li>Open the resulting file to see membership information</li>
        <li>There will be two new columns
          <ul>
            <li>BCDS_State which tells the state of the BCDS Membership for the player</li>
            <li>BCDS_Note which mostly tells you that you have to check non PDGA members manually</li>
          </ul>
        </li>
      </ul>
    </div>
    <button [disabled]="!canSelectFile" mat-button color="primary" (click)="openFileChooser()">
      <label>Select upload file...</label>
    </button>
    <input id="fileToImport" type="file" hidden (change)="fileSelected($event)">


    <div *ngIf="selectedFile">
      <button mat-button color="primary" (click)="importWorkbook()">
        Upload {{selectedFile.name}}
      </button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="total > 0 || notes.length > 1 || problems.length > 0">
  <mat-card-title>Progress...</mat-card-title>
  <div *ngIf="(total - done) > 0" fxLayout="row" fxLayoutAlign="space-between center">
    <div>Done: {{done}}</div>
    <div>Loading {{currentlyImporting}}</div>
    <div>Total: {{total}}</div>
  </div>
  <mat-progress-bar *ngIf="total - done > 0" [value]="progress" mode="determinate"></mat-progress-bar>
  <div *ngIf="problems.length > 0">
    <H2>Problems:</H2>
    <ul>
      <li *ngFor="let problem of problems">{{problem}}</li>
    </ul>
  </div>

  <div *ngIf="notes.length > 0">
    <H2>Notes:</H2>
    <ul>
      <li *ngFor="let note of notes">{{note}}</li>
    </ul>
  </div>
</mat-card>
